@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles to mimic Tailwind's look */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* This makes text look "sharper" like it does in Tailwind */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #111827; /* gray-900 */
}
